body{
    background-color: white;
    color: #000;
}
.blue{
    background-color: rgba(0, 0, 255, 0.705);
}
.lightblue{
    background-color: rgb(144, 168, 168);
}
.lightblue p{
 
    background-color: rgb(86, 214, 214);
}